{% extends 'base.html.twig' %}

{% block title %}Pizza Demo Mercure{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://kit.fontawesome.com/c8bd7a3a75.js"></script>
{% endblock %}
