#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
}

.item {
    padding: 1rem 0;
}

.item .card {
    margin: auto;
    width: 20rem;
}

.create-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-button > button,
.delete-button > button {
    margin: 1rem 0;
}

.card-body button {
    margin: 0 0.3rem;
}

.card-body .custom-checkbox {
    display: inline-block;
}

.card-body.notify {
    text-align: center;
}
