<form action="{{ path(action_path) }}" method="post" class="col-lg-4 col-md-6 item">
    <div class="card">
        <div class="card-body notify">
            <button type="submit" class="btn btn-dark">
                {{ topic_name }}
            </button>
            <p class="help-block">aka: {{ topic_uri }}</p>
        </div>
    </div>
</form>
